body {
  background-color: grey;
  font-family: sans-serif;
}

.nav {
  width: 100%;
  display: flex;
  margin-top: 15px;
  justify-content: center;
  
}

a {
  
  margin-right: 5%;
}

form.adding-attendant-form {
  border: solid black 1px;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

form.adding-attendant-form > input,
form.adding-attendant-form > textarea {
  font-size: 1em;
  font-family: sans-serif;
  margin-bottom: 0.5em;
}


.select-bar {
  background-color: green;
  height: 35px;
  
  margin-left: 5%;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.right{

  position:relative; bottom:750px;
}
hr{
  height: 90px;
}
.center{
  margin-left: 500px;
  margin-top: 10%;
}

.left{
float: right;
margin-right: 5%;
margin-top: 0.5%;
}
.work {
width: 100%;
margin-top: 5%;
  background-color: grey;
  
}


img{
  height: 35%;
  width: 300px;
  display: table-column;
  
}

.sidebar {
  margin-top: 5%;
  min-width: 12em;
  width: 50%;
  border-right: solid black 1px;
  background:blanchedalmond;
  padding: 1em;
  margin-left: 25%;
}






.attendants-holder {
  
  margin: auto;
  background-color: grey;
  width:100%;
  margin-bottom: 5%;
  
}
p{
margin-left: 30%;
  font-size: 500%;
}


.home{
  text-align: center;
max-height: 500px;
}




.attendants-holder > div {
  border-bottom: solid 1px grey;
  padding-bottom: 1em;
  min-width: 20em;
}

.attendants-holder > div > button {
  min-width: 4em;
}

h1,h2{
  font-size: 500%;
}

input[type="submit"],
button {
  font-weight: bold;
  font-size: 1em;
  background: green;
  border: solid black 1px;
  padding: 0.5em;
  cursor: pointer;
}
