body {
  background-image: url(https://images.unsplash.com/photo-1557821552-17105176677c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8b25saW5lJTIwc2hvcHBpbmd8ZW58MHx8MHx8&w=1000&q=80);
  background-size: cover;
  width: auto;
  height: auto;
  margin: 0;
  font-family: sans-serif;
}

.nav {
  width: 100%;
  display: flex;
  margin-top: 15px;
  justify-content: center;
  
}

a {
  
  margin-right: 5%;
}

.select-bar {
  background-color: green;
  height: 35px;
  
  margin-left: 5%;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.right{

  position:relative; bottom:750px;
}
hr{
  height: 90px;
}
.center{
  margin-left: 500px;
  margin-top: 10%;
}

.left{
float: right;
margin-right: 5%;
margin-top: 0.5%;
}
.cata {
width: 100%;
margin-top: 5%;
  background-color: grey;
  
}


.reviews{
  text-align: center;
}

img{
  height: 35%;
  width: 300px;
  display: table-column;
  
}





.products-container {
  
  margin: auto;
  background-color: grey;
  width:100%;
  margin-bottom: 5%;
  
}



.home{
max-height: 500px;
}




.productss-container > div {
  border-bottom: solid 1px grey;
  padding-bottom: 1em;
  min-width: 20em;
}

.products-container > div > button {
  min-width: 4em;
}



input[type="submit"],
button {
  font-weight: bold;
  font-size: 1em;
  background: green;
  border: solid black 1px;
  padding: 0.5em;
  cursor: pointer;
}
